@import 'tailwindcss';
@import './font.css';

body {
    font-family: 'Pretendard';
}

@layer utilities {
  .scrollbar-hide {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }
}
